/* Adicione seus estilos aqui, se necessário */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}
nav {
  padding: 30px;
  font-size: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
form {
  max-width: 500px;
  margin: 30px auto;
  background: white;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}
label {
  font-weight: bold;
  color: #aaa;
  display: inline-block;
  margin: 25 px 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-bottom: 20px;
}
label[type="checkbox"] {
  font-weight: bold;
  color: #aaa;
  display: inline-block;
  margin: 25 px 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
input[type="checkbox"] {
  margin-right: 10px;
  display: inline-block;
  width: 16px;
  position: relative;
  top: 2px;
}
.page-section {
  padding: 20px;
}
PT-4 {
  padding-top: 1rem;
  font-weight: bold;
  color: #aaa;
  display: inline-block;
  margin: 25 px 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.mt-3 {
  margin-top: 1rem;
}
v-btn {
  background-color: #3118bb;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
